<script type="text/javascript">function checkIfLoggedIn() {var data = sessionStorage.getItem('achoc');	if(data != 'nein'){document.getElementById("modal-title").textContent="Error";document.getElementById("modal-text").textContent="Page is currently unavailable.";$('#modal').modal('show');$('#modal').on('hidden.bs.modal', function () {window.location = '/';})}var data = sessionStorage.getItem('user');	document.querySelector('.content .value').innerHTML = data;}window.onload = checkIfLoggedIn;
</script>
<div class="navbar-header page-scroll navbar-fixed-top navbar-custom">
	<div class="container">
		<div class="navbar-header page-scroll">
			<a class="navbar-brand" href="/">Chalk</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<h3 style="text-align: center; color: White;">
					<div class="content row">
						<div class="col-md-10">Hey there, <span class='value'></span> ! :)</div>
						<div class="col-md-2"> <button type="button" class="btn btn-default" onclick="logout()"> Logout </button></div>
					</div>
				</h3>
			</li>
		</ul>
	</div>
</div>
<div id="modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title " id="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p id="modal-text">	</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>