<div class="navbar-header page-scroll navbar-fixed-top navbar-custom">
	<div class="container">
		<div class="navbar-header page-scroll">
			<a class="navbar-brand" href="/">Chalk</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a onclick="indextologin()">Login</a>
			</li>
		</ul>
	</div>
</div>


<header>
	<div class="container">
	<p class="description"> Welcome to Chalk.

Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.	
</p>
		<img src="images\squad.jpg"/>
	</div>
</header>

<!--Footer -->
<footer class="text-center">
	<div class="footer-above">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-4">
					<h3>Designed by</h3>
					<h6>@heyimjoses</h6>
				</div>			
				<div class="footer-col col-md-4">
					<h3>About Joses</h3>
					<h6>A College student trying to graduate and become rich.</h6>
				</div>
			</div>
		</div>
	</div>
</footer>
	